

.top-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 10px;

}

#timer-text {
    position: relative;
    left: 630px;
}

#highscores {
    color: #7a039a;
}

#highscores:hover {
    color: #ac30ce;
    cursor: pointer;
}

.challenge-main {
    text-align: center;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 500px;
    padding-right: 500px;
}

#headline {
    font-size: 50px;
    font-weight: 900;
}

#paragraph {
    font-size: 25px;
    line-height: 35px;
    font-weight: 300;
}

#start-btn {
    background-color: #7a039a;
    color: white;
    transform: scale(180%);
    border: none;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
}

#start-btn:hover {
    background-color: #ac30ce;
    cursor: pointer;
}

.question-1 {
    text-align: left;
    display: block;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 500px;
    padding-right: 500px;
}

#question-1-headline {
    font-size: 50px;
    font-weight: 900;
}

.question-1 button {
    display: block;
    margin: 30px 30px;
    text-align: left;
    background-color: #7a039a;
    color: white;
    transform: scale(180%);
    border: none;
    padding: 4px;
    width: 90px;
    border-radius: 5px;
    position: relative;
}

.question-1 button:hover {
    background-color: #ac30ce;
    cursor: pointer;
}

.question-2 {
    text-align: left;
    display: block;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 500px;
    padding-right: 500px;
}

#question-2-headline {
    font-size: 50px;
    font-weight: 900;
}

.question-2 button {
    display: block;
    margin: 30px 30px;
    text-align: left;
    background-color: #7a039a;
    color: white;
    transform: scale(180%);
    border: none;
    padding: 4px;
    width: 125px;
    border-radius: 5px;
    position: relative;
}

.question-2 button:hover {
    background-color: #ac30ce;
    cursor: pointer;
}

.question-3 {
    text-align: left;
    display: block;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 500px;
    padding-right: 500px;
}

#question-3-headline {
    font-size: 50px;
    font-weight: 900;
}

.question-3 button {
    display: block;
    margin: 30px 30px;
    text-align: left;
    background-color: #7a039a;
    color: white;
    transform: scale(180%);
    border: none;
    padding: 4px;
    width: 135px;
    border-radius: 5px;
    position: relative;
}

.question-3 button:hover {
    background-color: #ac30ce;
    cursor: pointer;
}

.question-4 {
    text-align: left;
    display: block;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 500px;
    padding-right: 500px;
}

#question-4-headline {
    font-size: 50px;
    font-weight: 900;
}

.question-4 button {
    display: block;
    margin: 30px 30px;
    text-align: left;
    background-color: #7a039a;
    color: white;
    transform: scale(180%);
    border: none;
    padding: 4px;
    width: 125px;
    border-radius: 5px;
    position: relative;
}

.question-4 button:hover {
    background-color: #ac30ce;
    cursor: pointer;
}

.question-5 {
    text-align: left;
    display: block;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 500px;
    padding-right: 500px;
}

#question-5-headline {
    font-size: 50px;
    font-weight: 900;
}

.question-5 button {
    display: block;
    margin: 30px 30px;
    text-align: left;
    background-color: #7a039a;
    color: white;
    transform: scale(180%);
    border: none;
    padding: 4px;
    width: 125px;
    border-radius: 5px;
    position: relative;
}

.question-5 button:hover {
    background-color: #ac30ce;
    cursor: pointer;
}

.challenge-end {
    text-align: left;
    display: block;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif; 
    padding-left: 500px;
    padding-right: 500px;
}

#end-headline {
    font-size: 50px;
    font-weight: 900;
}

#final-score-text {
    font-size: 25px;
    line-height: 35px;
    font-weight: 300;
}

#input-description {
    font-size: 25px;
    line-height: 35px;
    font-weight: 300;
    display: inline;
    margin-right: 10px;
}

#initial-input {
    width: 200px;
    height: 20px;
    display: inline;
}

#submit {
    background-color: #7a039a;
    color: white;
    transform: scale(180%);
    border: none;
    padding: 0px;
    margin-left: 50px;
    width: 80px;
    height: 18px;
    border-radius: 5px;
    display: inline;
    font-size: 12px;
}

#submit:hover {
    background-color: #ac30ce;
    cursor: pointer;
}

